.headerColor{
    color: rgb(50, 166, 57); 
}
.borderColor {
    -webkit-border-before-color: rgb(2, 48, 64);
}
.borderColor:hover {
    border: 5px solid rgb(193, 253, 255);
}
.divColor {
    background-color: rgb(244, 242, 240);
}
.textColor{
    color: rgb(2, 48, 64); 
}

.mscolor{
    color: rgb(2, 115, 118); 
}

.nameColor{
    color: rgb(24, 57, 115);
}


@font-face{
    font-family: 'pokemonclassic';
    src: url('pokemonclassic.ttf');
}

body{
    background-color: rgb(2, 48, 64);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'pokemonclassic';
}

h1{
    font-size: x-large;
}

h2{
    font-size: medium;
}

.medium{
    font-size: small;
}

h3{
    font-size: x-small;
}

.topcorner{
    position:absolute;
    top:0;
    right:0;
    width: 250px;
    height: 69px;
    align-content: center;
    text-align: center;
    border: 3px solid rgb(2, 115, 118);
    border-radius: 4px;
}

img{
    box-shadow: 10px;
}

.pokemon{
    height: 200px;
    width: 200px;
}

.type{
    height: 24px;
    width: 64px;
}

/*
ColorPallet{
   color: rgb(0, 103, 140);   
   color: rgb(2, 48, 64);      
   color: rgb(2, 115, 118);   
   color: rgb(50, 166, 57);    
   color: rgb(244, 242, 240);   

}
*/

nav{
    align-content: center;
    text-align: center;
}

.menuOption{
    font-size: 15px;
    color: rgb(2, 48, 64);
    text-align: center;
    margin: 5px;
    padding: 2px;
    border: solid, rgb(244, 242, 240), 1px;
    background-color: rgb(244, 242, 240);
    border-radius: 4px;
}

.bold{
    font-weight: bold;
}

.divContainer{
    align-content: center;
    text-align: center;
    margin: 0 auto;
}

.one{
    margin: 15px;
    width: 38%;
    display: inline-block;
    color: rgb(148, 16, 16);
    border: 10px solid;
    background-color: rgb(180, 197, 205);
    border-radius: 10px;
}
.two{
    margin: 15px;
    width: 38%;
    display: inline-block;
    color: rgb(148, 16, 16);
    border: 10px solid;
    background-color: rgb(180, 197, 205);
    border-radius: 10px;
}

.divContent{
    text-align: center;
    opacity: 0.7;
    border-radius: 10px;
    border: 5px solid;
    transition: border 3s;
    transition-delay: 1s;
    margin: 5px;
}

.divContent:hover{
    opacity: 0.9;
}

.option{
    font-size: 25px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: left;
}

.description{
    font-size: 25px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 10px;
}

.banner{
    width: 100%;
    height: 50%; 
}

.stats1 input[type="checkbox"]:checked + div{
    opacity: 1;
    height: auto;
    overflow: hidden;
    transition: opacity 1.5s linear, max-height 1.5s linear;
}

.hidden_stats{
    opacity: 0;
    border: none;
}

.stats2 input[type="checkbox"]:checked + div{
    opacity: 1;
    height: auto;
    overflow: hidden;
    transition: opacity 1.5s linear, max-height 1.5s linear;
}

.hidden_stats2{
    opacity: 0;
    border: none;
}

label:hover {
    text-decoration: underline;
}