html
    head
        link(rel='stylesheet' , href='css/styles.css')
        title= "Rustboro City"
        nav
            each option in menuOptions 
                span(class=["menuOption","borderColor", "textColor", "divContent", "divColor"])
                    a(href=option.href)= option.name
    body(class="landingBG")
        div(class="center")
            each paragraph in landingData
                p(class="paragraph")=paragraph.text