html
    head
        link(rel='stylesheet' , href='css/styles.css')
        title= "Rustboro City"
        nav
            each option in menuOptions 
                span(class=["borderColor", "textColor", "diveContent", "divColor"])
                    if option.show
                        a(href=option.href)= option.name
    h1(class="SectionTitle")= "Welcome to Rustboro City!"

      